<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin-Dashboard</title>
    <link rel="stylesheet" href="{{url_for('static',filename='/dist/output.css')}}">
</head>
<body>
    <header>
        <div class="logo text-2xl font-bold">My Next Promotion</div>
        <div class="userinfo">
            <div class="user-name">{{logged_in_user.first_name}}</div> <!-- NAMED OF LOGGED IN USER WILL NOT SHOW  -->
            <div class="user-icons">
                <ul>
                    <a href="/logout"><li>log Out</li></a>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <h2 class="text-2xl font-bold">Admin Dashboard</h2>
        <!-- add a search box  -->
        
        <a href="/create"><p>create new employee</p></a>
        <table class="table-auto w-full text-sm text-left text-gray-500 dark:text-gray-400 ">
            <thead class="">
            <tr class="">
                <th scope="col">First Name</th> 
                <th scope="col">Last Name</th>
                <th scope="col">Position</th>
                <th scope="col">GS Level</th>
                <th scope="col">Email</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for employee  in positions %}
            <tr>
                <td>{{employee.first_name}}</td>
                <td>{{employee.last_name}}</td>
                <td>{{employee.position['title']}}</td>
                <td>{{employee.gs_level}}</td>
                <td>{{employee.email}}</td>
                <td> 
                    <a href="/">View</a> | 
                    <a href="/">Comment</a> | <a href="/">Delete</a> | 
                </td>
            </tr>
            {% endfor%}
            </tbody>
        </table>
    </main>
</body>
</html>

