<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin-Dashboard</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- GOOGLE FONTS  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Playfair+Display&display&family=Play:wght@700=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/12655e0451.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/solid.css" integrity="sha384-Tv5i09RULyHKMwX0E8wJUqSOaXlyu3SQxORObAI08iUwIalMmN5L6AvlPX2LMoSE" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/fontawesome.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous"/>
    
</head>
<body>
    <div class="wrapper">
        <!-- NAV BAR -->
        <header class="nav">
            <div class="logo">My Next Promotion</div>
            <a href="/logout" class="btn btn-danger logout-btn">logout!</a>
        </header>
    
        <!-- SIDEBAR -->
        <aside class="left-sidebar ">
            <div class="sidebar-text">
                <div class="user-name">
                    <p>Welcome, {{logged_in_user.first_name}} </p>
                </div>
                <hr>
                <p><a href="/create"><p>Add Employee</p></a></p>
            </div>
        </aside>
    
    
        <!-- MAIN CONTENT -->
        <main class="content">
            <h2 class="">Admin Dashboard</h2>
            <!-- add a search box  -->
            
            <div class="table-responsive">
            <table class="table align-middle">
                <thead class="mx-auto ">
                <tr class="align-bottom">
                    <th scope="col">First Name</th> 
                    <th scope="col">Last Name</th>
                    <th scope="col">Position</th>
                    <th scope="col">GS Level</th>
                    <th scope="col">Email</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody class=".table-striped">
                    {% for employee  in positions %}
                <tr class="align-top">
                    <td>{{employee.first_name}}</td>
                    <td>{{employee.last_name}}</td>
                    <td>{{employee.position['title']}}</td>
                    <td>{{employee.gs_level}}</td>
                    <td>{{employee.email}}</td>
                    <td> 
                        <a href="/view/employee/{{employee.id}}"><i class="fas fa-eye"> View</i></a> | 
                        <a href="/"><i class="fas fa-comment"> Comment</i></a> | <a href="/employees/delete/{{employee.id}}"><i class="fas fa-trash"> Delete</i></a> 
                    </td>
                </tr>
                {% endfor%}
                </tbody>
            </table>
        </div>
        </main>
    </div>
    <footer class=" fixed-bottom">
        <ul class="nav justify-content-center ">
            <li class="nav-item "><a href="#" class="nav-link px-2 text-white">Home</a></li>
            <li class="nav-item "><a href="#" class="nav-link px-2 text-white">Settings</a></li>
            <li class="nav-item "><a href="#" class="nav-link px-2 text-white">Profile</a></li>
        </ul>
            <p class="mb-0 text-center text-white">&copy; 2023 Timothy Singleton & Jesenia Sanchez, Inc</p>
    </footer>
    </div>
</body>
</html>

