<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Next Promotion | Log in Form</title>
</head>
<body>
    <div class="wrapper">
        <div></div>
        <div class="form-signup">
            <h2>Log In</h2>
            <!-- <p>Already have an account? Log In</p> -->
            <form action="/login" method="post">
                <!-- <div>
                    <label for="account_name">Account Name: </label>
                    <input type="text" name="account_name">
                </div> -->
                <div>
                    {% with messages = get_flashed_messages(category_filter=['login']) %}
                        {% if messages %}
                            {% for message in messages %}
                                <p class="text-warning">{{message}}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <label for="email">Email: </label>
                    <input type="email" name="email" id="">
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="">
                </div>
                <div>
                    <label for="confirmPass">Confirm Password</label>
                    <input type="password" name="confirmPass" id="">
                </div>
                <a href=""><button type="submit">Log In</button></a>
            </form>
        </div>
    </div>
</body>
</html>