<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Next Promotion | Sign Up Form</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- GOOGLE FONTS  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Playfair+Display&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">
                                <div class="text-center">
                                    <img src="" style="width: 185px;" alt="logo">
                                    <h4 class="mt-1 mb-5 pb-1">Its time to Rack and Stack em</h4>
                                </div>

                                <!-- ERROR HANDLING -->
                                {% with messages = get_flashed_messages(category_filter=['register']) %}
                                    {% if messages %}
                                        {% for message in messages %}
                                            <p class="error">{{message| safe}}</p>
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}

                                <form action="/register/admin" method="post">
                                    <div class="col-auto">
                                        <label for="account_name" class="block">Account Name: </label>
                                        <input type="text" class="w-100" name="account_name">
                                    </div>
                                    <div class="col-auto">
                                        <label for="first_name" class="block">First Name: </label>
                                        <input type="text" class="w-100" name="first_name">
                                    </div>
                                    <div class="col-auto">
                                        <label for="last_name" class="block">Last Name: </label>
                                        <input type="text" class="w-100" name="last_name">
                                    </div>
                                    <div class="col-auto">
                                        <label for="email" class="block">Email Address: </label>
                                        <input type="email" class="w-100" name="email" id="">
                                    </div>
                                    <div class="col-auto ">
                                        <label for="password" class="block">Password:</label>
                                        <input type="password"class="w-100" name="password" id="">
                                    </div>
                                    <div class="col-auto">
                                        <label for="confirmPass" class="block">Confirm Password:</label>
                                        <input type="password"  class="w-100" name="confirmPass" id="">
                                    </div>
                                    <div class="col-auto mt-2">
                                        <a href="/register/admin"><button type="submit" class="btn btn-primary w-100">Sign Up</button></a>
                                    </div>
                                    
                                </form>
                            </div>
                        </div>
                        <!-- MISC -->
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                <h4 class="mb-4">Its more than just a promotion</h4>
                                <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                    eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                    nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</body>
</html>