@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.landing-page{
    margin: 0 auto; 
}
.title{
    color:white;
}
.form-register{
    margin: 0 auto;
}
