*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* HOME PAGE */
.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #060D64;
}

.landing-page{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;

}

.text{
    color: rgb(252 211 77);
    font-family: Playfair Display;
    font-size: 2rem;
}
.title{
    font-family: Bangers;
    font-size: 6.5rem;
    font-weight: bold;
    color: rgb(255 255 255);

}
.btn{
    padding: 10px 24px;
    border: white;
    background-color: #B1B0AF;
    color: white;
    margin-top: 15px;
}
button {
    transition-duration: 0.4s;
}

button:hover {
    background-color: rgb(252 211 77); /* Green */
    color: white;
}
.signin-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
img{
    width: 100%;
}
.form-box{
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 0 auto;
    background-color: #f2f2f2;
}
.login-title, p {
    margin: 0 auto;
}
input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}
.btn-login{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
.form-group{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}


/* MEDIA QUERIES  FOR HOME PAGE */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .landing-page{
        padding:20px
    }
    .title{
        font-size: 5.5rem;
    }
    .text{
        font-size: 1.5rem;
    }
}